@mixin gradient {
    background: linear-gradient(289deg, rgba(132,59,226,1) 0%, rgba(107,16,255,1) 100%);
@mixin flex_center {
	justify-content: center;
	align-items: center;
}

/*font styles*/

@mixin body_small($color) {
	/* body small */
	// font-family: 'Work Sans';
	font-weight: 400;
	font-size: $body_small;
	line-height: 24px;
	color: $color;
}