@import './variables';
@import './mixins';

@import './../../node_modules/bootstrap/scss/functions';
@import './../../node_modules/bootstrap/scss/variables';
@import './../../node_modules/bootstrap/scss/mixins';
@import './../../node_modules/bootstrap/scss/utilities';


$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "purple":     $purple,
  "light-purple": $light-purple,
  "dark-purple": $dark-purple,
  "obscur": $obscur,
  "bright": $bright,
  "placeholder-grey": $placeholder-grey,
  "light-grey": $light-grey
);

@import './../../node_modules/bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

.nav-puce{
    list-style-type: none;
}

.bgc-purple{
  background-color: $purple;
}

.bgc-light-purple{
  background-color: $light-purple;
}

.bgc-dark-purple{
  background-color: $dark-purple;
}

.bgc-obscur{
  background-color: $obscur;
}

.bgc-bright{
  background-color: $bright;
}

.circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-style:solid;
    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
}

.headerManagement{
  background-color: $purple;
  height: 10vh;
    &__text{
      color: $bright;
      font-size: 1.5rem;
      font-weight: bold;
      padding-left: 30%;
      padding-top: 20px;
    }
}

.btnCreate{
  width: 198px;
  height: 43px;
  border-radius: 12px;
  border-style: 20px solid;
  padding: 12px, 40px, 12px, 40px;
  font-weight: bold;
  margin: 0px 12px;
}

.btn-gradient {
  letter-spacing: 0.6px ;
  background: linear-gradient(289deg, rgba(132,59,226,1) 0%, rgba(107,16,255,1) 100%);
} 

.btnTemplate{
  width: 150px;
  height: 40px;
  border-radius: 12px;
  padding: 8px, 16px, 8px, 16px;
  color: $obscur;
  margin: 0px 12px;
  background: $light-grey;
}

.btnSetting{
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  padding: 8px;
  background-color: red;
  margin-left: 280px;
  margin-top: 20px;
}

.preFooterManagement{
  background-color: $light-purple;
    &__title{
      color: $obscur;
      font-size: 24px;
      font-weight: bold;
    }
    &__paragraph{
      font-size: 20px;
      text-align: center;
    }
    &__button{
      width: 300px;
      height: 50px;
      border-radius: 12px;
      padding: 16px, 40px, 16px, 40px;
      @include gradient;
    }
}

.footerManagement{
  background-color: $obscur;

    &__paragraph{
      font-size: 16px;
      color: $bright;
      text-align: center;

      &--bold{
        font-weight: bold;
      }
    }    
}

.card-radius{
  border-radius: 20px;
  border: 1px solid;
}

.img-radius{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.profil-circle{
  margin-left: 300px;
  margin-top: 50px;
  transform: scale(2, 2);
}

.search-bar {
  // Il faut remettre l'ancienne width autre que 330px
	width: 330px;
	padding: 10px 30px;
	border-radius: 12px;
	border: 0;

	background: $light-grey;
	color: $placeholder-grey;
}