<!DOCTYPE html>
<html lang="fr">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="public/assets/css/style.css">
      <title>Connexion</title>
  </head>
  <body>
    <form action="/albums/create" method="post">

      <h1>Création</h1>

      <% if(locals.success) { %>
        <p><%= success %></p>
      <% } %>

      <div>
        <label for="title">Titre</label>
        <input 
          type="text" 
          value="Titre" 
          name="title" 
          id="title"/>
      </div>

      <div>
        <label for="author">Auteur</label>
        <input 
          type="text" 
          value="Auteur" 
          name="author" 
          id="author"/>
      </div>

      <div>
        <label for="publishedAt">Date</label>
        <input 
          type="date" 
          value="1960" 
          name="publishedAt" 
          id="publishedAt"/>
      </div>

      <button type="submit">Enregistrer</button>

    </form>
  </body>
</html>